<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:component="http://java.sun.com/jsf/composite/main"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
    <title>Daily planner</title>
</h:head>
<h:body>
    <div class="container">
        <component:pageHeader/>
        <h:form>
            <p:growl id="msgs" showDetail="true" sticky="true"/>

            <p:panel id="addPlanPanel"
                     header="Add daily plan"
                     toggleable="true"
                     closable="true"
                     toggleSpeed="500"
                     closeSpeed="500"
                     widgetVar="addPlanPanel"
                     style="margin-bottom:20px">
                <p>
                    <h:panelGrid columns="1"
                                 cellpadding="10">
                        <p:calendar placeholder="Select daily plan date"
                                    value="#{plansController.dailyPlanDate}"
                                    mode="inline"/>
                    </h:panelGrid>
                </p>

                <p>
                    <p:commandButton value="Create daily plan"
                                     actionListener="#{plansController.createDailyPlan}"
                                     update=":#{p:component('addPlanPanel')}, :#{p:component('msgs')}, :#{p:component('dailyPlansListScroller')}"/>
                </p>

            </p:panel>
        </h:form>
        <h:form id="dailyPlansListForm">
            <p:dataScroller id="dailyPlansListScroller"
                            value="#{plansController.listAllDailyPlansForCurrentUser()}"
                            var="dailyPlan"
                            chunkSize="10">
                <f:facet name="header">
                    Scroll Down to Load Daily Plans. Click to see details
                </f:facet>

                <h:panelGrid columns="1" style="width:100%" columnClasses="date">
                    <p:outputPanel>
                        <h:panelGrid columns="1" cellpadding="5">
                            <p>
                                <h:commandLink value="${dailyPlan.date}"
                                               action="#{plansController.showDailyPlan}">
                                    <f:setPropertyActionListener value="#{dailyPlan}"
                                                                 target="#{plansController.selectedDailyPlan}"/>
                                </h:commandLink>
                            </p>
                        </h:panelGrid>
                    </p:outputPanel>
                </h:panelGrid>
            </p:dataScroller>
        </h:form>
    </div>
</h:body>
</html>
