<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
        >
<h:head>
    <title>Sign in</title>
    <h:outputStylesheet library="css" name="signin.css"/>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
</h:head>
<h:body>
    <div class="container" style="width: 300px">
        <h:form>
            <p:panel id="panel" header="Sign in" styleClass="form-signin">
                <p:growl id="msgs"/>
                <p:panelGrid columns="1"
                             cellpadding="5">
                    <p:inputText id="login"
                                 placeholder="Login"
                                 value="#{loginController.login}"
                                 required="true"
                                 label="Login">
                        <f:validateLength minimum="3"/>
                    </p:inputText>

                    <p:password id="password" value="#{loginController.password}"
                                placeholder="Password"
                                required="true"
                                label="Passwprd">
                        <f:validateLength minimum="3"/>
                    </p:password>

                    <p:commandButton value="Login"
                                     update="panel"
                                     action="#{loginController.performLogin()}"
                                     icon="ui-icon-check"/>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </div>
</h:body>
</html>
