<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui"
      xmlns:component="http://java.sun.com/jsf/composite/main"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
    <title>Daily planner</title>
</h:head>
<h:body>
    <c:set var="canEditTask" value="#{plansController.selectedDailyPlan.state == 'OPENED'}"/>
    <p:growl autoUpdate="true"/>

    <div class="container">
        <component:pageHeader/>
        <c:if test="#{canEditTask}">
            <h:form id="addTaskForm">
                <p:panel>
                    <f:facet name="header">
                        Add task
                    </f:facet>
                    <h:panelGrid columns="1" style="width: 100%" cellpadding="10" id="grid">
                        <h:outputLabel value="Title"
                                       for="titleInput"/>
                        <h:inputText id="titleInput"
                                     value="#{plansController.newTask.title}"
                                     required="true">
                            <f:validateLength minimum="3"/>
                        </h:inputText>
                        <h:outputLabel value="Description"
                                       for="descriptionInput"/>
                        <h:inputTextarea id="descriptionInput"
                                         value="#{plansController.newTask.description}"
                                         required="true">
                            <f:validateLength minimum="3"/>
                        </h:inputTextarea>
                        <h:outputLabel value="Start date"
                                       for="startInput"/>
                        <p:calendar id="startInput"
                                    value="#{plansController.newTask.startTime}"
                                    pattern="HH:mm a"
                                    timeOnly="true"
                                    required="true"/>
                        <h:outputLabel value="End date"
                                       for="endInput"/>
                        <p:calendar id="endInput"
                                    value="#{plansController.newTask.endTime}"
                                    pattern="HH:mm a"
                                    required="true"
                                    timeOnly="true"/>
                    </h:panelGrid>
                    <f:facet name="footer">
                        <h:commandButton value="Add task" action="#{plansController.addTaskToDailyPlan}"
                                         update=":#{p:component('planViewForm')}, :#{p:component('addTaskForm')}, :#{p:component('grid')}"/>
                    </f:facet>
                </p:panel>
            </h:form>
            <p:separator/>
        </c:if>
        <h:form id="planViewForm">
            <p:dataTable id="tasksTable"
                         var="task"
                         value="#{plansController.selectedDailyPlan.dayTasks}"
                         selection="#{plansController.selectedTasks}"
                         rowKey="#{task.id}"
                         style="margin-bottom:0">
                <f:facet name="header">
                    Tasks
                </f:facet>
                <p:column selectionMode="multiple" style="width:35px;text-align:center"/>
                <p:column headerText="Title">
                    <h:outputText value="#{task.title}"/>
                </p:column>
                <p:column headerText="Description">
                    <h:outputText value="#{task.description}"/>
                </p:column>
                <p:column headerText="Start time">
                    <h:outputText value="#{task.startTime}"/>
                </p:column>
                <p:column headerText="End time">
                    <h:outputText value="#{task.endTime}"/>
                </p:column>
                <f:facet name="footer">
                    <c:if test="#{canEditTask}">
                        <p:commandButton process="tasksTable"
                                         update=":#{p:component('planViewForm')}, :#{p:component('tasksTable')}"
                                         actionListener="#{plansController.removeSelectedTasks}"
                                         value="Remove"/>
                    </c:if>
                </f:facet>
            </p:dataTable>
        </h:form>
        <p:separator/>
        <h:form>
            <p:panel>
                <f:facet name="header">
                    <h:button value="Back" outcome="main_plans"/>
                </f:facet>
            </p:panel>
        </h:form>
    </div>
</h:body>
</html>
