<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://java.sun.com/jsf/html">
<h:head>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
    <title>Daily planner</title>
</h:head>
<h:body>
    <h:form>
        <div class="container">
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Daily planner</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="admin">Admin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <h1 class="center">Daily planner</h1>

                <p class="lead center">
                    Daily Planner is a to-do list that helps you arrange the current, daily, weekly tasks.
                </p>
                <h:button outcome="signin.xhtml" immediate="true" styleClass="btn-lg btn-primary" value="Sign in"/>
            </div>
        </div>
    </h:form>
</h:body>
</html>
