<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui">
<composite:interface>
    <composite:attribute name="userLoginValue"/>
    <composite:attribute name="userEmailValue"/>
    <composite:attribute name="userPasswordValue"/>
    <composite:attribute name="userFirstNameValue"/>
    <composite:attribute name="userLastNameValue"/>
    <composite:attribute name="userDateOfBirthValue"/>
    <composite:attribute name="saveAction" method-signature="void saveUser()"/>
</composite:interface>
<composite:implementation>
    <h:form>
        <p:panel id="panel" header="Add user">
            <p:growl id="msgs" showDetail="true" sticky="true"/>

            <p>
                <p:panelGrid columns="3" cellpadding="10">
                    <p:outputLabel for="login" value="Login:"/>
                    <p:inputText id="login" value="#{cc.attrs.userLoginValue}" required="true"
                                 label="Login">
                        <f:validator binding="#{loginFieldValidator}"/>
                    </p:inputText>
                    <p:message for="login" display="icon"/>

                    <p:outputLabel for="email" value="Email:"/>
                    <p:inputText id="email" value="#{cc.attrs.userEmailValue}" required="true"
                                 label="Email">
                        <f:validator binding="#{emailFieldValidator}"/>
                    </p:inputText>
                    <p:message for="email" display="icon"/>

                    <p:outputLabel for="password" value="Password:"/>
                    <p:password id="password" value="#{cc.attrs.userPasswordValue}" required="true"
                                label="Password">
                        <f:validateLength minimum="6"/>
                    </p:password>
                    <p:message for="password" display="icon"/>

                    <p:outputLabel for="firstname" value="First name:"/>
                    <p:inputText id="firstname" value="#{cc.attrs.userFirstNameValue}" required="true"
                                 label="First name">
                        <f:validateLength minimum="3"/>
                    </p:inputText>
                    <p:message for="firstname" display="icon"/>

                    <p:outputLabel for="lastname" value="Last name:"/>
                    <p:inputText id="lastname" value="#{cc.attrs.userLastNameValue}" required="true"
                                 label="Last name">
                        <f:validateLength minimum="3"/>
                    </p:inputText>
                    <p:message for="lastname" display="icon"/>

                    <p:outputLabel for="dateOfBirth" value="Date of birth:"/>
                    <p:calendar id="dateOfBirth" required="true" value="#{cc.attrs.userDateOfBirthValue}"/>
                    <p:message for="dateOfBirth" display="icon"/>
                </p:panelGrid>
            </p>

            <p>
                <p:commandButton value="Save" update=":#{p:component('msgs')}, :#{p:component('panel')}"
                                 action="#{cc.attrs.saveAction}"
                                 icon="ui-icon-check"/>
            </p>
        </p:panel>
    </h:form>
</composite:implementation>
</html>
