<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
        >

<composite:interface>
    <composite:attribute name="usersValue"/>
</composite:interface>

<composite:implementation>
    <h:form id="showForm">
        <p:growl id="growl" showDetail="true"/>

        <p:dataTable id="usersTable"
                     var="user"
                     value="#{cc.attrs.usersValue}"
                     rowKey="#{user.id}"
                     selectionMode="single"
                     selection="#{listUsersController.selectedUser}">
            <p:ajax event="rowSelect" update=":#{p:component('detailsViewLink')}, :#{p:component('editUserDialog')}"
                    listener="#{listUsersController.onRowSelect}"/>
            <f:facet name="header">
                Click "View" button after selecting a row to see details
            </f:facet>
            <p:column headerText="Login">
                <h:outputText value="#{user.login}"/>
            </p:column>
            <p:column headerText="Email">
                <h:outputText value="#{user.email}"/>
            </p:column>
            <f:facet name="footer">
                <p:commandButton id="detailsViewLink" disabled="#{listUsersController.viewDetailsDisabled}" value="View"
                                 onclick="PF('editUserDialog').show()"/>
            </f:facet>
        </p:dataTable>
    </h:form>


    <p:dialog modal="true" id="editUserDialog" widgetVar="editUserDialog" header="Edit user:">
        <h:form id="editUserForm">
            <p:panel id="panel" header="#{listUsersController.selectedUser.login}">
                <p:messages id="msgs"/>
                <p:panelGrid columns="3" cellpadding="10">
                    <p:outputLabel for="login" value="Login:"/>
                    <p:outputLabel id="login" value="#{listUsersController.selectedUser.login}"/>
                    <p:outputLabel/>

                    <p:outputLabel for="email" value="Email:"/>
                    <p:outputLabel id="email" value="#{listUsersController.selectedUser.email}"/>
                    <p:outputLabel/>

                    <p:outputLabel for="password" value="Password:"/>
                    <p:password id="password" value="#{listUsersController.selectedUser.password}" required="true"
                                label="Password">
                        <f:validateLength minimum="6"/>
                    </p:password>
                    <p:message for="password" display="icon"/>
                    <p:outputLabel for="firstname" value="First name:"/>
                    <p:inputText id="firstname" value="#{listUsersController.selectedUser.firstName}"
                                 required="true"
                                 label="First name">
                        <f:validateLength minimum="3"/>
                    </p:inputText>
                    <p:message for="firstname" display="icon"/>
                    <p:outputLabel for="lastname" value="Last name:"/>
                    <p:inputText id="lastname" value="#{listUsersController.selectedUser.lastName}" required="true"
                                 label="Last name">
                        <f:validateLength minimum="3"/>
                    </p:inputText>
                    <p:message for="lastname" display="icon"/>
                    <p:outputLabel for="dateOfBirth" value="Date of birth:"/>
                    <p:calendar id="dateOfBirth" required="true"
                                value="#{listUsersController.selectedUser.dateOfBirth}"/>
                    <p:message for="dateOfBirth" display="icon"/>
                </p:panelGrid>
                <p:commandButton value="Save"
                                 update=":#{p:component('editUserDialog')}"
                                 actionListener="#{listUsersController.updateSelectedUser}"
                                 oncomplete="if (!args.validationFailed){editUserDialog.hide();}"
                                 icon="ui-icon-check"/>
                <p:commandButton value="Cancel" onclick="PF('editUserDialog').hide();"/>
            </p:panel>
        </h:form>
    </p:dialog>
</composite:implementation>
</html>
